<footer class="footer">
    <div class="footer-block buttons">
        <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=databat-io&repo=sonar&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
    </div>
    <div class="footer-block author">
        <ul>
            <li>
                <a href="https://databat.io/?utm_source=sonar&utm_medium=footer&utm_campaign=in-app-referral">databat.io</a>
            </li>
        </ul>
    </div>
</footer>
