[Unit]
Description=gunicorn daemon
After=network.target

[Service]
WorkingDirectory=/usr/src/app
ExecStart=/usr/local/bin/gunicorn --access-logfile - --bind 0.0.0.0:80 collector.wsgi:application
RestartSec=5
Restart=always
Environment=PYTHONPATH=/usr/src/app

[Install]
WantedBy=multi-user.target
