[Unit]
Description=Redis
After=network.target

[Service]
ExecStart=/usr/local/bin/redis-server /etc/redis.conf
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
