<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> {% include 'analytics/includes/brandname.html' %} - {% block page_title %}{% endblock page_title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- Theme styles -->
        <link rel="stylesheet" id="theme-style" href="{% static 'css/app.css' %}">

        {% block page_specific_styles %}
        {% endblock page_specific_styles %}

        {% block page_specific_scripts %}
        {% endblock page_specific_scripts %}
    </head>
    <body>
        
        {% block main-wrapper %}
        <div class="main-wrapper">
            <div class="app sidebar-fixed" id="app">
                
                <!-- Template navigation content begins -->
                {% include 'analytics/includes/sidebar.html' %}
                <!-- Template navigation content ends -->                                
                
                <!-- Template page content begins -->
                <article class="content {% block content_class %}dashboard-page{% endblock content_class %}">
                    {% block body %}
                    {% endblock body %}
                </article>
                <!-- End of template page content -->
                
                <!-- Template footer content begins -->
                {% include 'analytics/includes/footer.html' %}
                <!-- Template footer content ends -->                
                
            </div>
        </div>
        {% endblock main-wrapper %}

        <!-- Reference block for JS -->
        <div class="ref" id="ref">
            <div class="color-primary"></div>
            <div class="chart">
                <div class="color-primary"></div>
                <div class="color-secondary"></div>
            </div>
        </div>

        {% block body_scripts %}
        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% endblock body_scripts %}
    </body>
</html>