{% extends "analytics/base.html" %}

{% block page_title %}
Chart for {{ year }}-{{ month }}{% if day %}-{{ day }}{% endif %}
{% endblock page_title %}

{% block page_specific_scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/2.2/highcharts.js"></script>
    {% load chartit %}
    {{ chart|load_charts:"container" }}
{% endblock page_specific_scripts %}

{% block content_class %}charts-morris-page{% endblock content_class %}

{% block body %}
<div class="row title-block">
    <div class="col-sm-12 col-md-8">
        <h3 class="title"> Reports <small>{{ page_title }}</small> </h3>
        <p class="title-description"> Chart for {{ year }}-{{ month }}{% if day %}-{{ day }}{% endif %}</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <a type="button" href="/" class="btn btn-secondary pull-right"><i class="fa fa-arrow-left"></i> Go back</a>
    </div>
</div>

<section class="section">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">

                <div class="card-block">
                    <div class="card-title-block text-center mb-0 mt-2">
                      <h3 class="title">
                          {{ chart_title }}
                          {% if day %}
                            Estimated foot traffic on an hourly basis on {{ year }}-{{ month }}-{{ day }}
                          {% else %}
                            Estimated foot traffic during the month of {{ month }} {{ year }}
                          {% endif %}
                      </h3>
                    </div>
                    <div id='container'></div>
                </div>

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-xl-6 -->
    </div>
</section>

{% endblock body %}
