{% extends "analytics/base.html" %}

{% load staticfiles %}
{% load analytics_extras %}

{% block page_title %}
{{ page_title }}
{% endblock page_title %}

{% block page_specific_styles %}
<link rel="stylesheet" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}" />
{% endblock page_specific_styles %}

{% block page_specific_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
{% endblock page_specific_scripts %}

{% block content_class %}cards-page{% endblock content_class %}

{% block body %}

<div class="title-block">
    <h3 class="title"> Reports </h3>
    <p class="title-description"> Report type selection </p>
</div>

<section class="section">
    <div class="row sameheight-container">
        <div class="col-xl-6">
            <div class="card card-default">

                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Monthly reports </p>
                    </div>
                </div>

                <form role="form" method="post">{% csrf_token %}
                    <div class="card-block">
                            <div class="form-group {% if month_form.errors %}has-error{% endif %}">
                                <div class="form-group">
                                    {{ month_form.month_selected }}
                                </div>
                                {% if month_form.errors %}
                                <span class="has-error">
                                    {{ month_form.month_selected.errors }}
                                    {{ month_form.non_field_errors }}
                                </span>
                                {% endif %}
                            </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" name="month_report" value="month_report" class="btn btn-primary">Go to report</button>
                    </div>
                </form>

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-xl-6 -->
        <div class="col-xl-6">
            <div class="card card-default">

                <div class="card-header">
                    <div class="header-block">
                        <p class="title"> Daily reports </p>
                    </div>
                </div>
                <form role="form" method="post">{% csrf_token %}
                    <div class="card-block">
                            <div class="form-group {% if day_form.errors %}has-error{% endif %}">
                                <div class="input-group date" id="day_datepicker" data-target-input="nearest">
                                    <input type="text" name="{{ day_form.day_selected.name }}" class="form-control datetimepicker-input" data-target="#day_datepicker"/>
                                    <div class="input-group-append" data-target="#day_datepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>

                                </div>
                                {% if day_form.errors %}
                                <span class="has-error">
                                    {{ day_form.day_selected.errors }}
                                    {{ day_form.non_field_errors }}
                                </span>
                                {% endif %}
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#day_datepicker').datetimepicker({
                                        enabledDates: [
                                            {% for date in enabled_days_list %}
                                            moment("{{ date }}"),
                                            {% endfor %}
                                        ],
                                        format: 'L',
                                        minDate: moment("{{ min_day }}"),
                                        maxDate: moment("{{ max_day }}")
                                    });
                                });
                            </script>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" name="day_report" value="day_report" class="btn btn-primary">Go to report</button>
                    </div>
                </form>

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-xl-6 -->
    </div>
</section>

{% endblock body %}

{% block body_scripts %}
{% endblock body_scripts %}
