<footer class="footer">
    <div class="footer-block buttons">
        <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=databat-io&repo=sonar&type=star&count=true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
    </div>
    <div class="footer-block author">
        <ul>
            <li> created by
                <a href="https://github.com/databat-io/">Databat.io</a>
            </li>
            <li> theme created by
                <a href="https://github.com/modularcode/">ModularCode</a>
            </li>
        </ul>
    </div>
</footer>